#filter
  %ul.filter_list
    %li.filter_item{ class: "#{add_active_class(type, nil)}" }
      = link_to 'すべて', root_path, data: { turbo_stream: true }
    %li.filter_item{ class: "#{add_active_class(type, 'uncompleted')}" }
      = link_to '未完了', root_path(type: 'uncompleted'), data: { turbo_stream: true }
    %li.filter_item{ class: "#{add_active_class(type, 'completed')}" }
      = link_to '完了', root_path(type: 'completed'), data: { turbo_stream: true }
