#task_detail
  %ul.error_messages
    - task.errors.full_messages.each do |message|
      %li.error_message= message
      
  = form_with(model: task, url: task_path(task), method: 'put', local: true) do |f|
    %div= f.text_field :title
    %div= f.label :deadline, '期限'
    %div= f.date_field :deadline
    %div= f.label :content, 'メモ'
    %div= f.text_area :content
    %div= f.submit '更新'
