.container
  %h1 TODO
  %section.tasks
    %ul.uncompleted_task_list
      - @uncompleted_tasks.each do |task|
        %li
          = render 'card', task: task

    %div 完了済み
    %ul.completed_task_list
      - @completed_tasks.each do |task|
        %li
          = render 'card', task: task

    = form_with(model: @task, local: true) do |f|
      %div= f.label :title, '＋'
      %div= f.text_field :title, placeholder: 'タスクを追加'
      %div= f.submit "追加"
