.container
  %h1 TODO
 
  %div 一括切り替え
  %ul
    %li= link_to 'すべて完了にする', whole_completion_path, data: { turbo_frame: 'tasks-list', turbo_method: :post, turbo_confirm: 'すべてのタスクを完了しますか？' }
    %li= link_to 'すべて未完了にする', whole_completion_path, data: { turbo_frame: 'tasks-list', turbo_method: :delete, turbo_confirm: 'すべてのタスクを未完了にしますか？' }
  
  %ul
    %li= link_to 'すべて', root_path, data: { turbo_frame: 'tasks-list' }
    %li= link_to '未完了', root_path(type: 'uncompleted'), data: { turbo_frame: 'tasks-list' }
    %li= link_to '完了', root_path(type: 'completed'), data: { turbo_frame: 'tasks-list' }

  %section.tasks
    = turbo_frame_tag 'tasks-list' do

      - unless @type == 'completed'
        %ul.uncompleted_task_list
          - @uncompleted_tasks.each do |task|
            %li
              = render 'card', task: task, type: @type

      - unless @type == 'uncompleted'
        %div 完了済み
        - if @completed_tasks.present?
          = link_to 'すべて削除', completed_all_path(type: @type), data: { turbo_method: :delete, turbo_confirm: '完了したタスクをすべて削除しますか？' }

        %ul.completed_task_list
          - @completed_tasks.each do |task|
            %li
              = render 'card', task: task, type: @type

      = form_with(model: @task, url: tasks_path(type: @type), method: 'post', local: true) do |f|
        %div= f.label :title, '＋'
        %div= f.text_field :title, placeholder: 'タスクを追加'
        %div= f.submit "追加", class: 'hidden'
