.container
  %h1 TODO
  %section.tasks
    %ul.task_list
      - @tasks.each do |task|
        %li
          = form_with(model: task, url: task_completion_path(task), method: 'put', local: true) do |f|
            %div= f.check_box :completed
            %div= f.submit '更新'
          = link_to edit_task_path(task), class: 'task_content' do
            %div= task.title
            %div= task.display_deadline

    = form_with(model: @task, local: true) do |f|
      %div= f.label :title, '＋'
      %div= f.text_field :title, placeholder: 'タスクを追加'
      %div= f.submit "追加"
