%h1 TODO

= turbo_frame_tag 'tasks-index' do
  .row.index_action
    = render 'filter', type: @type

    .col-auto.dropdown
      %button#dropdownMenuButton1.btn.dropdown-toggle.bulk_action_btn{ type: "button", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } }
        一括切り替え
      %ul.dropdown-menu{ aria: { labelledby: "dropdownMenuButton1" } }
        %li= link_to 'すべて完了にする', whole_completion_path, data: { turbo_method: :post, turbo_confirm: 'すべてのタスクを完了しますか？' }, class: 'dropdown-item'
        %li= link_to 'すべて未完了にする', whole_completion_path, data: { turbo_method: :delete, turbo_confirm: 'すべてのタスクを未完了にしますか？' }, class: 'dropdown-item'

  %section.tasks
    .container.tasks_list_container
      = render 'tasks_list', type: @type, uncompleted_tasks: @uncompleted_tasks, completed_tasks: @completed_tasks

    .container.new_task_container
      = form_with(model: @task, url: tasks_path(type: @type), method: 'post', local: true, class: 'new_task_form') do |f|
        = f.label :title, '＋'
        = f.text_field :title, placeholder: 'タスクを追加', class: 'new_task_input'
        = f.submit "追加", class: 'hidden'
